<div class="container">
  <div *ngIf="loading">
    <i class="fas fa-spinner"></i>
  </div>

  <div *ngIf="!loading">
    <div class="alert alert-danger" *ngIf="errorMessage">
      {{errorMessage}}
    </div>

    <div *ngIf="!errorMessage">
      <div class="p-2">
        <a routerLink="/products/add" class="btn btn-primary"><i class="fas fa-plus"></i></a>
      </div>

      <table class="table">
        <thead>
        <tr>
          <th>{{'product.name' | translate}}</th>
          <th>{{'product.price' | translate}}</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products">
          <td>{{product.name}}</td>
          <td>{{product.price | price}}</td>
          <td>
            <a [routerLink]="['/products', 'edit', product.id]" class="btn btn-primary"><i class="fas fa-edit"></i></a>
            <button type="button" class="btn btn-danger ml-2" (click)="confirmDeleteProduct(product)">
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

