<div class="form-group">
  <button type="button" class="btn btn-primary" [disabled]="true">
    Settle selected tabs
  </button>
</div>

<table class="table">
  <thead>
  <tr>
    <th><input type="checkbox"></th>
    <th>Tab</th>
    <th>Sum (90.00 EUR)</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><input type="checkbox"></td>
    <td>Bar, Foo</td>
    <td>30.00 EUR</td>
  </tr>
  <tr>
    <td><input type="checkbox"></td>
    <td>Bar, Foo</td>
    <td>30.00 EUR</td>
  </tr>
  <tr>
    <td><input type="checkbox"></td>
    <td>Bar, Foo</td>
    <td>30.00 EUR</td>
  </tr>
  </tbody>
</table>
