<div>
  <a routerLink="/settlements/active" class="float-right">
    {{'components.all-settlements.active-settlement' | translate}}
  </a>

  <div class="alert alert-danger" *ngIf="errorMessage">
    {{errorMessage}}
  </div>

  <div *ngIf="!errorMessage">

    <table class="table">
      <thead>
      <tr>
        <th>{{'components.all-settlements.date' | translate}}</th>
        <th>{{'components.all-settlements.sum' | translate}}</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let settlement of settlements">
        <td>{{settlement.dateTime | localeDate}}</td>
        <td>{{getSumOfSettlement(settlement) | price}}</td>
        <td>
          <a [routerLink]="['/', 'settlements', 'old', settlement.id]">{{'components.all-settlements.details' | translate}}</a>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-primary" [disabled]="loading" (click)="loadNextPage()">
        <app-loading *ngIf="loading"></app-loading>
        {{'components.all-settlements.load-more' | translate}}
      </button>
    </div>

  </div>
</div>

