<div class="container-fluid">
  <div *ngIf="tabsLoading">
    <i class="fas fa-spinner"></i>
  </div>

  <div class="alert alert-danger" *ngIf="tabsError">
    {{tabsError}}
  </div>

  <div class="alert alert-danger" *ngIf="orderError">
    {{orderError}}
  </div>

  <div class="alert alert-danger" *ngIf="productsError">
    {{productsError}}
  </div>

  <div class="alert alert-danger" *ngIf="spendingsError">
    {{spendingsError}}
  </div>

  <div class="row">
    <div class="col-10">
      <app-loading *ngIf="spendingsLoading"></app-loading>

      <div class="btn-group cmp-Start__spending" *ngFor="let spending of spendings">
        <button type="button" class="btn btn-outline-success" [disabled]="disabledSpendings[spending.id]">
          {{'components.start.spending' | translate}}
          {{tabIdToName[spending.tabId]}}
          {{productIdToName[spending.productId]}}
          <strong>{{spending.current}}/{{spending.quantity}}</strong>
        </button>
        <button type="button" class="btn btn-outline-success" (click)="orderOnSpending(spending)"
                [disabled]="disabledSpendings[spending.id]">
          +1
        </button>
      </div>

      <br>

      <div class="btn-group cmp-Start__tab" *ngFor="let tab of tabs">
        <button type="button" class="btn btn-outline-primary cmp-Start__tabButton" (click)="selectTab(tab)">
          {{tab.name}}
        </button>

        <button type="button" class="btn btn-outline-primary" *ngIf="quickSelectProduct" (click)="quickOrder(tab)"
                [disabled]="tabOrdersInProgress[tab.id]">
          +1
        </button>
      </div>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-danger" [disabled]="lastOrders.length === 0 || deletingOrder"
              (click)="undoLastOrder()">
        <app-loading *ngIf="deletingOrder"></app-loading>
        {{'components.tab-order.undo-order' | translate}}
      </button>

      <div class="alert alert-danger" *ngIf="deletingOrderError">
        {{deletingOrderError}}
      </div>

      <ul>
        <li *ngFor="let order of lastOrders">1x{{order.productName}} - {{order.tabName}}</li>
      </ul>
    </div>
  </div>
</div>
