<div class="cmp-App__content">
  <div class="cmp-App__contentMain">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-bottom: 10px;">
      <a class="navbar-brand" routerLink="/">E-Drinks</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="auth.isAuthenticated()">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/products">{{'products' | translate}}</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/tabs">{{'tabs' | translate}}</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/statistics">{{'statistics' | translate}}</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/settlements">{{'settlements' | translate}}</a>
          </li>
        </ul>

        <ul class="navbar-nav my-2 my-lg-0">
          <li class="nav-item">
            <a routerLink="user-settings" routerLinkActive="active" class="nav-link"><i class="fas fa-user"></i></a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link" (click)="logout()"><i
              class="fas fa-sign-out-alt"></i></a>
          </li>
        </ul>
      </div>
    </nav>

    <router-outlet></router-outlet>

  </div>

  <footer class="cmp-App__footer">
    <div class="container">
      <span class="text-muted">&copy; {{year}}</span>
      &nbsp;
      <span class="text-muted"><a routerLink="contributions">{{'contributions' | translate}}</a></span>
      &nbsp;
      <span class="text-muted"><a routerLink="impressum">Impressum</a></span>
      &nbsp;
      <span class="text-muted">
      <a href="https://github.com/EDrinks" target="_blank" rel="noopener"><i class="fab fa-github"></i> Github</a>
    </span>
    </div>
  </footer>
</div>
