.cmp-App {

  &__content {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  &__contentMain {
    flex: 1;
  }

  &__footer {
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;

    > .container {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}
