<a routerLink="/" class="btn btn-secondary ml-2">
  <i class="fas fa-arrow-left"></i>
  {{'common.back' | translate}}
</a>

<div class="container">
  <app-loading *ngIf="loading"></app-loading>

  <div class="alert alert-danger" *ngIf="error">
    {{error}}
  </div>

  <div *ngIf="!loading">

    <div class="float-right">
      <button type="button" class="btn btn-danger">{{'components.spending-order.close-spending' | translate}}</button>
    </div>

    <h2>
      {{'components.spending-order.spending' | translate}}
      {{tab.name}} {{product.name}}
      {{spending.current}}/{{spending.quantity}}
    </h2>

    <div class="form-group">
      <button type="button" class="btn btn-outline-primary btn-lg mr-1"
              *ngFor="let quantity of orderButtons"
              [disabled]="spending.current + quantity > spending.quantity || ordering"
              (click)="orderOnSpending(quantity)">+{{quantity}}
      </button>
    </div>

    <hr>

    <div class="form-group">
      <button type="button" class="btn btn-danger" [disabled]="deleting" (click)="undoOrder()">
        {{'components.spending-order.undo-order' | translate}}
      </button>

      <div class="alert alert-danger mt-2" *ngIf="deletingError">{{deletingError}}</div>
    </div>

    <app-loading *ngIf="loadingOrders"></app-loading>

    <div class="alert alert-danger" *ngIf="ordersError">
      {{ordersError}}
    </div>

    <ul *ngIf="!loadingOrders">
      <li *ngFor="let order of orders">{{order.quantity}}x {{order.dateTime | localeDate}}</li>
    </ul>
  </div>
</div>
