<div class="container-fluid">
  <a routerLink="/" class="btn btn-secondary">
    <i class="fas fa-arrow-left"></i>
    {{'common.back' | translate}}
  </a>

  <span>
    {{tab?.name}}
  </span>
</div>

<div class="container-fluid cmp-TabOrder__content">
  <div *ngIf="noProductsFound">
    <div class="alert alert-warning">
      {{'components.tab-order.no-products-found' | translate}}
      <br>
      <a [routerLink]="['/', 'products', 'add']">{{'components.tab-order.create-product' | translate}}</a>
    </div>
  </div>

  <div class="row" *ngIf="!noProductsFound">
    <div class="col-sm">

      <app-loading *ngIf="productsLoading"></app-loading>

      <div class="alert alert-danger" *ngIf="productsError">
        {{productsError}}
      </div>

      <div *ngIf="!productsLoading && !productsError">
        <button type="button" class="btn btn-outline-primary cmp-TabOrder__product"
                *ngFor="let product of products" [ngClass]="{'active': product === selectedProduct}"
                (click)="selectProduct(product)">
          {{product.name}}
          ({{product.price | price}})
        </button>
      </div>

    </div>

    <div class="col-sm">
      <h3>{{selectedProduct?.name}} - {{selectedProduct?.price | price}}</h3>

      <div class="d-flex justify-content-between">
        <div>
          <button type="button" class="btn btn-lg btn-outline-primary mr-2"
                  *ngFor="let quantity of orderButtons" (click)="orderProduct(quantity)">+{{quantity}}
          </button>
        </div>
      </div>

      <div class="alert alert-danger mt-2" *ngIf="creatingOrderError">
        {{creatingOrderError}}
      </div>

      <table>
        <tr>
          <td>{{'components.tab-order.ordered-product' | translate:selectedProduct}}:</td>
          <td>{{getSelectedProductCount()}}</td>
          <td>(&Sigma; {{getSelectedProductSum() | price}})</td>
        </tr>
        <tr>
          <td>{{'components.tab-order.ordered-everything' | translate}}:</td>
          <td>{{getAllProductsCount()}}</td>
          <td>(&Sigma; {{getAllProductsSum() | price}})</td>
        </tr>
      </table>

      <hr>

      <div class="form-inline">
        <div class="form-group">
          <label for="spendingSize" class="mr-1">Size of spending</label>
          <div class="input-group mr-1">
            <input type="number" class="form-control" id="spendingSize" min="0" step="5"
                   [(ngModel)]="spendingSize">
            <div class="input-group-append">
              <span class="input-group-text">{{ selectedProduct?.name }}</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-outline-success" [disabled]="!spendingSize || spendingSize <= 0">
            Open Spending
          </button>
        </div>
      </div>

      <hr>

      <h3>
        {{'components.tab-order.last-orders' | translate}}
        <button type="button" class="btn btn-danger ml-2" (click)="undoOrder()"
                [disabled]="orders.length === 0 || deletingOrder">
          <app-loading *ngIf="deletingOrder"></app-loading>
          {{'components.tab-order.undo-order' | translate}}
        </button>

        <span class="ml-2 text-danger" *ngIf="deletingOrderError">{{deletingOrderError}}</span>
      </h3>

      <div class="alert alert-danger" *ngIf="loadingOrdersError">
        {{loadingOrdersError}}
      </div>

      <ul>
        <li *ngFor="let order of orders">
          {{order.quantity}}x{{productIdToName[order.productId]}}
          {{order.dateTime | localeDate}}
          (&Sigma; {{order.quantity * order.productPrice | price}})
        </li>
      </ul>

    </div>

  </div>
</div>
