<div class="container-fluid">
  <a routerLink="/" class="btn btn-secondary">
    <i class="fas fa-arrow-left"></i>
    {{'common.back' | translate}}
  </a>
</div>

<div class="container-fluid cmp-TabOrder__content">
  <div *ngIf="noProductsFound">
    <div class="alert alert-warning">
      {{'components.tab-order.no-products-found' | translate}}
      <br>
      <a [routerLink]="['/', 'products', 'add']">{{'components.tab-order.create-product' | translate}}</a>
    </div>
  </div>

  <div class="row" *ngIf="!noProductsFound">
    <div class="col-sm">

      <app-loading *ngIf="productsLoading"></app-loading>

      <div class="alert alert-danger" *ngIf="productsError">
        {{productsError}}
      </div>

      <div *ngIf="!productsLoading && !productsError">
        <button type="button" class="btn btn-outline-primary cmp-TabOrder__product"
                *ngFor="let product of products" [ngClass]="{'active': product === selectedProduct}"
                (click)="selectProduct(product)">
          {{product.name}}
          ({{product.price | price}})
        </button>
      </div>

    </div>

    <div class="col-sm">
      <h3>{{selectedProduct?.name}} - {{selectedProduct?.price | price}}</h3>

      <button type="button" class="btn btn-lg btn-outline-primary mr-2"
              *ngFor="let quantity of orderButtons" (click)="orderProduct(quantity)">+{{quantity}}
      </button>

      <div class="alert alert-danger mt-2" *ngIf="creatingOrderError">
        {{creatingOrderError}}
      </div>

      <table>
        <tr>
          <td>{{'components.tab-order.ordered-product' | translate:selectedProduct}}:</td>
          <td>{{getSelectedProductCount()}}</td>
          <td>(&Sigma; {{getSelectedProductSum() | price}})</td>
        </tr>
        <tr>
          <td>{{'components.tab-order.ordered-everything' | translate}}:</td>
          <td>{{getAllProductsCount()}}</td>
          <td>(&Sigma; {{getAllProductsSum() | price}})</td>
        </tr>
      </table>

      <hr>

      <h3>{{'components.tab-order.last-orders' | translate}}</h3>

      <div class="alert alert-danger" *ngIf="loadingOrdersError">
        {{loadingOrdersError}}
      </div>

      <ul>
        <li *ngFor="let order of orders">
          {{order.quantity}}x{{productIdToName[order.productId]}}
          {{order.dateTime | localeDate}}
          (&Sigma; {{order.quantity * order.productPrice | price}})
        </li>
      </ul>

    </div>
  </div>
</div>
